.add-button {
  width: 100%;
  flex: 0;
  display: flex;
  visibility: hidden;
  flex-direction: row;
  justify-content: center;
}

.add-button--root {
  visibility: visible;
}

.editor:hover > .add-button {
  visibility: visible;
}
