:root {
  --primary-color: red;
  --gray-color: lightgray;
  --gray-bg-color: #f9f9f9;
  --gray-border-color: #e9e9e9;
  --highlight-border-color: #337ab7;
  --box-border-radius: 4px;
  --content-color: #caeeff;
  --content-dimmed-color: #a4d0e5;
}
